@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("https://source.unsplash.com/random/?movies,comic");
}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: rgba(77, 215, 215, 0.349);
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

h2{
  background-color: antiquewhite;
}

.modal-content{
  justify-content: center;
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
  display: flex;
  color: white;
  flex-direction: column;
}